.float-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button{
    background-color: #E02D3C;
    color: #fff;
    border: none;
    border-radius: 100%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.whatsapp-logo{
    width: 44px;
    height: 44px;
    color: #fff;
}
@media (max-width: 1199px) {
    .whatsapp-logo {
        width: 30px;
        height: 30px;
    }
  }